/*variables*/
:root {
    --bg-color: #1A1817;
    --dot-color: #ff0000;
    --line-color: #510000;
}

/*Defaults*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium';
    background-color: var(--bg-color);
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#camera_interface_container { 
   background-color: #5C2E2B;
   
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   width: fit-content;
   height: fit-content;
   
   padding: 40px 180px 40px;
   border-radius: 30px;
}

#video_container {
    position: relative;
    display: inline-block;
    border-radius: 0%;
    overflow: hidden;
}

#local_cam {
    width: 100%;
    height: auto;
    transform: scaleX(-1); /*mirrors displayed camera*/
    z-index: 2; /*layout order*/
    pointer-events: none;
}

#cam_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(-1); /*mirrors displayed overlay*/
    z-index: 3; /*layout order*/
    pointer-events: none;
}

#camera_controls {
    margin-top: 30px;
    width: 100%; /*match container width*/
    display: flex;
    justify-content: center;
    gap: 50px;
}

.cam_btn {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}